/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*root*/
 :root {
    --primary-color: #008b8b;
    --secondary-color: #a9a9a9;
 }

body {
    padding-top: 4rem;
    font-size: 2rem;
    display: grid;
    gap: 3rem;
}


/*Header*/
header {
    display: grid;
    grid-template-columns: minmax(autofit, 1fr);
    place-items: center;
    gap: 1rem;
    margin-inline: 5vw;
}

header h1 {
    font-size: 4rem;
}

header p {
    color: var(--secondary-color)
}


/*Main content*/



/*Date*/



/*timeline*/



/* project name */
